<div class=col-12>
  <h3 class="title">Fetch tweets</h3>
  <br/>
  <%= form_tag(fetch_results_url, method: :post, remote: true) do %>
    <div class="form-group col-6">
      <label for="email_template_id">Select email template</label>
      <%= select_tag('input[email_template_id]', options_for_select(EmailTemplate.all.pluck(:template_name, :id), class: 'form-control', id: 'email_template_id')) %>
    </div>
    <div class="form-group col-4">
      <label for="receiver_email">Receiver Email</label>
      <%= text_field_tag('input[receiver_email]', '', class: 'form-control', id: 'receiver_email', type: 'email', required: true) %>
    </div>
    <div class="form-group col-6">
      <label for="period_from">Period From</label>
      <%= datetime_field_tag('input[period_from]', class: 'form-control', id: 'period_from') %>
    </div>
    <div class="form-group col-6">
      <label for="period_to">Period To</label>
      <%= datetime_field_tag('input[period_to]', class: 'form-control', id: 'period_to') %>
    </div>
    <br/>
    <div class="form-group col-6">
      <div class="actions">
        <%= submit_tag('Fetch', class: 'btn btn-primary', data: { disable_with: 'Processing...' }) %>
      </div>
    </div>
  <% end %>
</div>