<%= form_with(model: email_template, local: true) do |form| %>
  <div class="form-group">
    <% if email_template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>
        <ul>
          <% email_template.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <br/>
  <div class="form-group col-6">
    <label for="template_name">Template Name</label>
    <%= form.text_field(:template_name, class: 'form-control', id: 'template_name', required: true) %>
  </div>
  <div class="form-group col-6">
    <label for="sender_name">Sender</label>
    <%= form.text_field(:sender_name, class: 'form-control', id: 'sender_name') %>
  </div>
  <div class="form-group col-6">
    <label for="subject">Subject</label>
    <%= form.text_field(:subject, class: 'form-control', id: 'subject') %>
  </div>
  <div class="form-group col-6">
    <label for="description">Description</label>
    <%= form.text_field(:description, class: 'form-control', id: 'description') %>
  </div>
  <div class="form-group col-6">
    <%= form.text_area :body, class: "tinymce form-control", rows: 10, cols: 120, id: 'body' %>
    <%= tinymce %>
  </div>
  <br/>
  <div class="form-group col-6">
    <div class="actions">
      <%= form.submit(class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>