<h3 class="title">Editing Email Template</h3>
<br/>
<%= render 'form', email_template: @email_template %>
<br/>
<%= link_to 'Show', email_template_path(@email_template) %> | <%= link_to 'Back', email_templates_path %>