<div class=col-12>
  <h3 class="title">Email templates</h3>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Template name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @email_templates.each do |email_template| %>
        <tr>
          <td scope="col"><%= email_template.template_name %></td>
          <td scope="col">
            <%= link_to 'Show', email_template_path(email_template) %> |
            <%= link_to 'Edit', edit_email_template_path(email_template) %> |
            <%= link_to 'Destroy', email_template_path(email_template), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Email Template', new_email_template_path %>
</div>