<div class=col-12>
  <h3 class="title">Email template details</h3>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Template name</th>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">Description</th>
        <th scope="col">User</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col"><%= @email_template.template_name %></td>
        <td scope="col"><%= @email_template.sender_name %></td>
        <td scope="col"><%= @email_template.subject %></td>
        <td scope="col"><%= @email_template.description %></td>
        <td scope="col"><%= @email_template.user.name %></td>
        <td scope="col"><%= link_to 'Edit', edit_email_template_path(@email_template) %> | <%= link_to 'Back', email_templates_path %></td>
      </tr>
    </tbody>
  </table>
</div>