<!DOCTYPE html>
<html>
  <head>
    <title>AService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="configurations">
            <%= link_to('Home', root_path) %> |
            <%= link_to('Email Templates', email_templates_path) %>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="flash-messages">
            <% flash.each do |type, msg| %>
              <div>
                <p><%= msg %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>